body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.modelsize {
	height: 100px;
}

.DeleteButton {
	color: black;
	background-color: red;
	font-weight: bold;
	border: none;
	padding: 4px 8px;
}
.FinishedButton {
	color: black;
	background-color: green;
	font-weight: bold;
	border: none;
	padding: 4px 8px;
}
